<section id="home" class="md:pt-[200px] md:pb-[110px] pt-[100px] pb-[120px]">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div class="max-w-xl">
                <span class="py-0.5 px-2 rounded font-semibold text-indigo-500 bg-indigo-500/10">We help organize</span>
                <h2 class="md:text-5xl/snug text-4xl/tight font-semibold mt-4">Build, grow & manage your brands & business</h2>
                <p class="text-base font-semibold text-muted mt-5">With company we are prepared to your business advancement and increament business deals today.</p>
                <div class="flex flex-wrap items-center gap-4 mt-9">
                    <a href="#" class="py-2.5 px-5 text-base font-bold rounded-lg text-white border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get stared</a>
                    <a href="#" class="py-2.5 px-5 rounded-lg border-2 border-indigo-500 text-indigo-500 hover:text-white hover:bg-indigo-500 flex items-center gap-2 transition-all duration-500">Read more <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
            <div>
                <div class="grid sm:grid-cols-2 grid-cols-1 gap-5">
                    <img src="assets/images/img-6.png" class="rounded-3xl sm:rounded-br-none rtl:sm:rounded-bl-none rtl:rounded-br-3xl" alt="">
                    <img src="assets/images/img-3.png" class="sm:h-52 mt-auto rounded-3xl sm:rounded-bl-none rtl:sm:rounded-br-none rtl:rounded-bl-3xl" alt="">
                    <img src="assets/images/img-5.png" class="sm:h-52 ms-auto rounded-3xl sm:rounded-tr-none rtl:sm:rounded-tl-none rtl:rounded-tr-3xl" alt="">
                    <img src="assets/images/img-4.png" class="rounded-3xl sm:rounded-tl-none rtl:sm:rounded-tr-none rtl:rounded-tl-3xl" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>