<section id="home" class="lg:h-screen flex items-center justify-center pt-[100px] pb-[120px] relative overflow-hidden bg-cover bg-no-repeat" style="background-image: url('assets/images/home-2.png');">
    <div class="absolute inset-0 bg-dark/85"></div>
    <div class="container relative">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div class="max-w-xl">
                <h2 class="md:text-5xl/snug text-4xl/tight font-semibold text-white mt-4">This is simply and clever headline for you</h2>
                <p class="text-base font-medium text-white/50 mt-5">Cras ultricies mi eu turpis hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In ac dui quis mi consectetuer lacinia. </p>
                <a href="#" class="inline-block mt-10 py-2.5 px-5 text-base font-bold rounded-lg text-white border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get stared</a>
            </div>
            <div class="md:w-96 w-72 mx-auto">
                <div class="p-6 border border-muted/20 rounded-2xl bg-white/10 backdrop-blur-md">
                    <h3 class="text-2xl font-bold text-center text-white">Crie sua conta</h3>
                    <form class="space-y-6 mt-5">
                        <div>
                            <input type="text" class="form-input bg-muted/20 rounded border placeholder:text-white/60 text-white border-muted/30 focus:border-indigo-500 dark:border-muted/20" placeholder="Your name..." required="">
                        </div>
                        <div>
                            <input type="email" class="form-input bg-muted/20 rounded border placeholder:text-white/60 text-white border-muted/30 focus:border-indigo-500 dark:border-muted/20" placeholder="Your email..." required="">
                        </div>
                        <div>
                            <input type="text" class="form-input bg-muted/20 rounded border placeholder:text-white/60 text-white border-muted/30 focus:border-indigo-500 dark:border-muted/20" placeholder="Your Subject.." required="">
                        </div>
                        <button class="w-full focus:outline-0 py-2.5 px-5 text-base font-bold rounded-lg text-white border border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500" type="submit">Send Message</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-14">
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>