<section id="contact" class="py-16">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-10 items-center">
            <div>
                <img src="assets/images/img-1.png" class="rounded-3xl" alt="">
            </div>

            <div>
                <span class="text-indigo-500 font-semibold">Contact Us</span>
                <h3 class="md:text-4xl text-3xl font-bold mt-3">Started to contact us.</h3>
                <p class="text-base font-medium text-muted mt-5"> Nullam nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede. Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo pellentesque facilisis. Etiam imperdiet imperdiet orci.</p>

                <form class="relative max-w-[400px] mt-8">
                    <input type="text" class="py-[14px] px-[15px] w-full text-sm outline-none pr-[150px] pl-5 rounded-[6px] bg-transperent border border-muted/50 dark:bg-transparent" placeholder="Email" required>
                    <button type="submit" class="absolute tracking-[1px] font-normal text-[15px] rounded-[5px] capitalize top-1 right-1 outline-none text-sm py-[10px] px-[30px] bg-indigo-500 text-white border border-indigo-500">
                        Subcribe
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>