<div class="page-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-xl-8 col-md-9">
              <h4 class="mb-3">Find Your Dream Jobs</h4>
              <p class="text-muted mb-0">Professional networking site LinkedIn has grown to become a major platform for both employers and candidates who're looking for the right job.</p>
          </div>
      </div>
  </div><!-- /container-->
</div>

<section class="wrapper-box">
  <div class="container">
      <div class="row">
          <div class="col-xxl-12">
              <div class="row g-3 mb-4">
                  <div class="col-lg-5">
                      <div class="fliter_inpur position-relative">
                          <i class="bi bi-search"></i>
                          <input type="text" class="form-control" id="searchInput" placeholder="Search for jobs, salary ...">
                      </div>
                  </div>
                  <div class="col-lg-5">
                      <div class="fliter_inpur position-relative">
                          <i class="bi bi-geo-alt"></i>
                          <input type="text" class="form-control" id="searchInput" placeholder="Location ...">
                      </div>
                  </div>
                  <div class="col-lg-2">
                      <button class="btn btn-success w-100"><i class="bi bi-search align-baseline me-1"></i> Find Jobs</button>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/flutter.jpg" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">eCommerce Executive</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Mexico</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $165 - $182</li>
                                          <li class="vr"></li>
                                          <li>63 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">The E-Commerce Executive contributes to the growth of E-Commerce business by enhancing the customer experience, executing.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-success-subtle text-success">Full Time</span>
                                      <span class="badge bg-danger-subtle text-danger">Urgent</span>
                                      <span class="badge bg-info-subtle text-info">Internship</span>
                                      <span class="badge bg-dark-subtle text-body">Remote</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/linkedin.png" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Svelte Developer</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> California</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $180 - $210</li>
                                          <li class="vr"></li>
                                          <li>102 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">Svelte is a compiler that generates minimal and highly optimized JavaScript code from our sources.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-danger-subtle text-danger">Urgent</span>
                                      <span class="badge bg-success-subtle text-success">Full Time</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/flask.jpg" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Senior UI Developer</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Bermuda</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $160 - $200</li>
                                          <li class="vr"></li>
                                          <li>87 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">Senior UI designers, or senior user interface designers, oversee and guide the process of developing the visual and interactive.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-secondary-subtle text-secondary">Freelancer</span>
                                      <span class="badge bg-dark-subtle text-body">Remote</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/telegram.png" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Store & Sales Manager</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Bermuda</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $80 - $150</li>
                                          <li class="vr"></li>
                                          <li>20 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">They make sure customer service representatives, cashiers, and store managers perform their duties to a high standard and that customers.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-danger-subtle text-danger">Urgent</span>
                                      <span class="badge bg-success-subtle text-success">Full Time</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/twitter.png" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Content Writer</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Any</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $100 - $150</li>
                                          <li class="vr"></li>
                                          <li>263 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">A Content Writer is typically responsible for researching topics, creating style guides for a company's content, and writing content that helps drive conversions.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-danger-subtle text-danger">Part Time</span>
                                      <span class="badge bg-secondary-subtle text-secondary">Freelancer</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/shopify.jpg" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Marketing Executive</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Germany</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $253 - $412</li>
                                          <li class="vr"></li>
                                          <li>91 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">A marketing executive is a professional who plans, develops and oversees the overall marketing strategies and campaigns.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-danger-subtle text-danger">Part Time</span>
                                      <span class="badge bg-info-subtle text-info">Internship</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/twitter.png" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Flutter Developer</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Saudi Arabia</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $120 - $230</li>
                                          <li class="vr"></li>
                                          <li>120 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">Flutter is Google's UI toolkit for building beautiful, natively compiled applications for mobile, web, and desktop from a single codebase.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-dark-subtle text-body">Remote</span>
                                      <span class="badge bg-success-subtle text-success">Full Time</span>
                                      <span class="badge bg-danger-subtle text-danger">Urgent</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/vue.jpg" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">Recruitment Executive</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Romania</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $80 - $130</li>
                                          <li class="vr"></li>
                                          <li>74 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">Identifying and recruiting prospective candidates using a variety of channels. Assessing candidates to ensure qualification match.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-danger-subtle text-danger">Part Time</span>
                                      <span class="badge bg-secondary-subtle text-secondary">Freelancer</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
                  <div class="col-md-4">
                      <div class="card border-0 card-effect card-height">
                          <div class="card-body vstack">
                              <div class="mb-3">
                                  <div class="float-end">
                                      <button type="button" class="btn btn-warning btn-soft btn-bookmark" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                                  </div>
                                  <img src="assets/images/company_logo/react.jpg" alt="" class="square-sm rounded">
                                  <div class="mt-3">
                                      <h5 class="font-16">React Developer</h5>
                                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Mexico</li>
                                          <li class="vr"></li>
                                          <li><i class="bi bi-cash align-baseline me-1"></i> $90 - $180</li>
                                          <li class="vr"></li>
                                          <li>174 Applicant</li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="mb-auto">
                                  <p class="font-14 text-muted">A React developer designs and creates JavaScript-based applications for web or mobile environments. They typically specialize in front-end development.</p>
                                  <div class="hstack gap-2 flex-wrap mb-4">
                                      <span class="badge bg-dark-subtle text-body">Remote</span>
                                      <span class="badge bg-info-subtle text-info">Internship</span>
                                  </div>
                              </div>
                              <button type="button" class="btn btn-secondary btn-sm btn-effect w-100 btn-soft">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                          </div>
                      </div>
                  </div><!-- .col-->
              </div>

              <div class="row justify-content-center">
                  <div class="col-lg-6">
                      <nav aria-label="Page navigation example">
                          <ul class="pagination justify-content-center mt-4">
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Previous">
                                      <i class="bi bi-chevron-left"></i>
                                  </a>
                              </li>
                              <li class="page-item"><a class="page-link" href="#">1</a></li>
                              <li class="page-item active"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">...</a></li>
                              <li class="page-item"><a class="page-link" href="#">10</a></li>
                              <li class="page-item"><a class="page-link" href="#">11</a></li>
                              <li class="page-item">
                                  <a class="page-link" href="#" aria-label="Next">
                                      <i class="bi bi-chevron-right"></i>
                                  </a>
                              </li>
                          </ul>
                      </nav>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="wrapper-box bg-success-subtle overflow-hidden">
  <i class="bi bi-briefcase position-absolute text-success opacity-25 job_bag-icon"></i>
  <i class="bi bi-envelope position-absolute text-success opacity-25 job_email-icon"></i>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="text-capitalize lh-base mb-0">Get the Latest <span class="text-success">news & updates</span> from our company</h2>
              </div>
          </div><!-- /col-->
          <div class="col-lg-7">
              <form action="#!" class="subcribe-input position-relative">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
                  <button class="btn btn-success">Subscribe</button>
              </form>
          </div>
      </div><!-- /row-->
  </div><!--/container-->
</section>
