<section id="testimonials" class="py-16">
    <div class="container">
        <div class="text-center max-w-2xl mx-auto">
            <span class="text-indigo-500 font-semibold">Testimonials</span>
            <h3 class="md:text-4xl text-3xl font-bold mt-2">What our customers are saying</h3>
        </div>

        <div class="relative order-1 client-sec md:order-2 mt-14">
            <ngx-slick-carousel [config]="slideConfig"
                class="select-none swiper client-side swiper-initialized swiper-horizontal swiper-pointer-events swiper-autoheight"
                dir="ltr">
                <div ngxSlickItem>
                    <div class="max-w-2xl text-center mx-auto">
                        <p class="text-base font-medium text-muted mb-8">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <img src="assets/images/avatar/img-1.png" class="h-20 rounded-full mx-auto" alt="">
                        <h4 class="text-xl font-semibold mt-8">Lena J. Gracey</h4>
                        <p class="text-base font-medium text-muted">CEO<span class="fw-normal">,Pioted</span></p>
                    </div>
                </div>

                <div ngxSlickItem>
                    <div class="max-w-2xl text-center mx-auto">
                        <p class="text-base font-medium text-muted mb-8">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <img src="assets/images/avatar/img-2.png" class="h-20 rounded-full mx-auto" alt="">
                        <h4 class="text-xl font-semibold mt-8">Lenny Morton</h4>
                        <p class="text-base font-medium text-muted">CEO<span class="fw-normal">,Pioted</span></p>
                    </div>
                </div>

                <div ngxSlickItem>
                    <div class="max-w-2xl text-center mx-auto">
                        <p class="text-base font-medium text-muted mb-8">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <img src="assets/images/avatar/img-3.png" class="h-20 rounded-full mx-auto" alt="">
                        <h4 class="text-xl font-semibold mt-8">Jessica Parker</h4>
                        <p class="text-base font-medium text-muted">CEO<span class="fw-normal">,Pioted</span></p>
                    </div>
                </div>

                <div ngxSlickItem>
                    <div class="max-w-2xl text-center mx-auto">
                        <p class="text-base font-medium text-muted mb-8">Lorem ipsum dolor sit amet, consectetuer
                            adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
                            penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                        <img src="assets/images/avatar/img-4.png" class="h-20 rounded-full mx-auto" alt="">
                        <h4 class="text-xl font-semibold mt-8">Andrew K. Allen</h4>
                        <p class="text-base font-medium text-muted">CEO<span class="fw-normal">,Pioted</span></p>
                    </div>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>