<div class="page-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-lg-8 col-10">
              <p class="fw-medium text-success">Out Pricing</p>
              <h4 class="mb-2">We've got a pricing plan that's perfect for you</h4>
              <p class="text-muted mb-0">Pricing Strategy is a tool used to fix the price of a particular product or service by considering various factors like the consumption of resources.</p>
          </div>
      </div>
  </div><!-- /container-->
</div>

<section class="wrapper-box">
  <div class="container">
      <div class="row">
          <div class="col-xxl-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="card-body p-4">
                      <h5>Free</h5>
                      <p class="text-muted font-15">For a taste our product</p>
                      <button class="btn btn-primary btn-soft btn-sm w-100">Star Free Trial</button>
                      <h3 class="fw-normal my-4">$0<span class="font-15 text-muted">/month</span></h3>
                      <ul class="vstack gap-3 mb-0 font-15 list-unstyled">
                          <li><i class="bi bi-check text-success me-1"></i> Unlimited Projects</li>
                          <li><i class="bi bi-check text-success me-1"></i> Share with <b>5</b> team members</li>
                          <li><i class="bi bi-check text-success me-1"></i> Sync across devices</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-6">
              <div class="card border-0 bg-primary text-white card-effect">
                  <div class="card-body p-4">
                      <h5 class="text-white">Professional</h5>
                      <p class="text-white text-opacity-75 font-15">For userswho want to do more</p>
                      <button class="btn bg-white border-white text-black btn-sm w-100">Star Free Trial</button>
                      <h3 class="fw-normal text-white my-4">$24.99<span class="font-15 text-white text-opacity-75">/month</span></h3>
                      <ul class="vstack gap-3 mb-0 font-15 list-unstyled">
                          <li><i class="bi bi-check text-success me-1"></i> Everythink in Free plan</li>
                          <li><i class="bi bi-check text-success me-1"></i> Unlimited Projects</li>
                          <li><i class="bi bi-check text-success me-1"></i> Share with <b>15</b> team members</li>
                          <li><i class="bi bi-check text-success me-1"></i> 30 day version history</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="card-body p-4">
                      <h5>Team</h5>
                      <p class="text-muted font-15">Your entire team in one place</p>
                      <button class="btn btn-primary btn-soft btn-sm w-100">Star Free Trial</button>
                      <h3 class="fw-normal my-4">$39.99<span class="font-15 text-muted">/month</span></h3>
                      <ul class="vstack gap-3 mb-0 font-15 list-unstyled">
                          <li><i class="bi bi-check text-success me-1"></i> Everythink in Pro plan</li>
                          <li><i class="bi bi-check text-success me-1"></i> Unlimited team members</li>
                          <li><i class="bi bi-check text-success me-1"></i> Collaborative workspace</li>
                          <li><i class="bi bi-check text-success me-1"></i> Sharing permissions</li>
                          <li><i class="bi bi-check text-success me-1"></i> Admin tools</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-xxl-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="card-body p-4">
                      <h5>Enterprise</h5>
                      <p class="text-muted font-15">Run your company on your terms</p>
                      <button class="btn btn-primary btn-soft btn-sm w-100">Star Free Trial</button>
                      <h3 class="fw-normal my-4">$59.99<span class="font-15 text-muted">/month</span></h3>
                      <ul class="vstack gap-3 mb-0 font-15 list-unstyled">
                          <li><i class="bi bi-check text-success me-1"></i> Everythink in Team plan</li>
                          <li><i class="bi bi-check text-success me-1"></i> Advanced security</li>
                          <li><i class="bi bi-check text-success me-1"></i> Custom contract</li>
                          <li><i class="bi bi-check text-success me-1"></i> Sharing permissions</li>
                          <li><i class="bi bi-check text-success me-1"></i> Admin tools</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="wrapper-box bg-light">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="lh-base mb-0">We are extremely satisfied with <b class="text-success">ObjectThemes</b> Product</h2>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
      <div class="row">
          <div class="col-lg-5">
              <div class="row g-2 nav nav-pills client-tabs-menu" id="v-pills-tab" role="tablist">
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link active" id="feedback_tab" data-bs-toggle="pill" href="#feedbackTab" role="tab" aria-controls="feedbackTab" aria-selected="true">
                          <div data-bs-toggle="tooltip" data-bs-placement="top">
                              <img src="assets/images/feedback_client/client-01.jpg" alt="feedback_client" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link" id="feedback_tab2" data-bs-toggle="pill" href="#feedbackTab2" role="tab" aria-controls="feedbackTab2" aria-selected="false">
                          <div>
                              <img src="assets/images/feedback_client/client-02.jpg" alt="" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link" id="feedback_tab3" data-bs-toggle="pill" href="#feedbackTab3" role="tab" aria-controls="feedbackTab3" aria-selected="false">
                          <div>
                              <img src="assets/images/feedback_client/client-03.jpg" alt="" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link" id="feedback_tab4" data-bs-toggle="pill" href="#feedbackTab4" role="tab" aria-controls="feedbackTab4" aria-selected="false">
                          <div>
                              <img src="assets/images/feedback_client/client-04.jpg" alt="" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link" id="feedback_tab5" data-bs-toggle="pill" href="#feedbackTab5" role="tab" aria-controls="feedbackTab5" aria-selected="false">
                          <div>
                              <img src="assets/images/feedback_client/client-05.jpg" alt="" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
                  <div class="col-md-4 col-sm-6">
                      <a class="nav-link" id="feedback_tab6" data-bs-toggle="pill" href="#feedbackTab6" role="tab" aria-controls="feedbackTab6" aria-selected="false">
                          <div>
                              <img src="assets/images/feedback_client/client-06.jpg" alt="" class="img-fluid w-100 rounded">
                          </div>
                      </a>
                  </div>
              </div>
          </div><!--/col-->
          <div class="col-lg-6 ms-auto">
              <div class="tab-content mt-5 mt-lg-0" id="pills-tabContent">
                  <div class="tab-pane fade show active" id="feedbackTab" role="tabpanel" aria-labelledby="feedback_tab" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                              </div>
                              <p class="font-18">" You worked hard to land us this client, and your efforts bore fruit. I appreciate your focus and grit in going above and beyond, managing the complex project, and helping the team met our goals. You worked hard to land us this client. "</p>
                              <a href="#!"><h6 class="font-16">Maria Warren</h6></a>
                              <p class="text-muted mb-0">Marketing Manager</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="feedbackTab2" role="tabpanel" aria-labelledby="feedback_tab2" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                              </div>
                              <p class="font-18">" A content writer is an entry-level job role. It is the role responsible for writing clear, creative and attractive copies. It also includes tasks like proofreading and using SEO tools. It is a stepping to make a career in the Marketing field. "</p>
                              <a href="#!"><h6 class="font-16">Thomas Davis</h6></a>
                              <p class="text-muted mb-0">Web Developer</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="feedbackTab3" role="tabpanel" aria-labelledby="feedback_tab3" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                              </div>
                              <p class="font-18">" Revising content whenever customers or clients request changes. Helping create style guides or suggesting changes to ensure content is consistent and clear. Working with customers to define their content needs. "</p>
                              <a href="#!"><h6 class="font-16">Brenda Radel</h6></a>
                              <p class="text-muted mb-0">Sales Coordinator</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="feedbackTab4" role="tabpanel" aria-labelledby="feedback_tab4" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                              </div>
                              <p class="font-18">" Overall the career in content writing as a news writer is a highly dignified post for a content writer and well paid. There is enough scope for students and aspiring writers to become news writers who have professional writing skills. "</p>
                              <a href="#!"><h6 class="font-16">Ronald Black</h6></a>
                              <p class="text-muted mb-0">DevOps Engineer</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="feedbackTab5" role="tabpanel" aria-labelledby="feedback_tab5" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-half"></i>
                              </div>
                              <p class="font-18">" Content writing is the process of planning, writing and editing web content, typically for digital marketing purposes. It can include writing blog posts and articles, scripts for videos and podcasts as well as content for specific platforms. "</p>
                              <a href="#!"><h6 class="font-16">Fredric Marshall</h6></a>
                              <p class="text-muted mb-0">Operation Manager</p>
                          </div>
                      </div>
                  </div>
                  <div class="tab-pane fade" id="feedbackTab6" role="tabpanel" aria-labelledby="feedback_tab6" tabindex="0">
                      <div class="card border-0 text-center">
                          <div class="card-body p-5">
                              <div class="text-warning font-20 opacity-75 mb-4">
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                                  <i class="bi bi-star-fill"></i>
                              </div>
                              <p class="font-18">" Produce relevant content for websites, blogs, articles, white papers, product descriptions, and social media platforms. They create content that is specifically crafted to capture the attention of a particular target audience Check Referrals."</p>
                              <a href="#!"><h6 class="font-16">Sheri Vella</h6></a>
                              <p class="text-muted mb-0">Front Desk Manager</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div><!--/row-->
  </div><!--/container-->
</section>

<section class="wrapper-box bg-success-subtle overflow-hidden">
  <i class="bi bi-briefcase position-absolute text-success opacity-25 job_bag-icon"></i>
  <i class="bi bi-envelope position-absolute text-success opacity-25 job_email-icon"></i>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="text-capitalize lh-base mb-0">Get the Latest <span class="text-success">news & updates</span> from our company</h2>
              </div>
          </div><!-- /col-->
          <div class="col-lg-7">
              <form action="#!" class="subcribe-input position-relative">
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter your email">
                  <button class="btn btn-success">Subscribe</button>
              </form>
          </div>
      </div><!-- /row-->
  </div><!--/container-->
</section>
