<section class="layout_two_home bg-success-subtle">
  <div class="container">
      <div class="row align-items-center justify-content-center">
          <div class="col-lg-8">
              <div class="text-center">
                  <h1 class="display-6 mb-4 lh-base text-capitalize fw-semibold">Join over <span class="text-success">3 Million</span> Others in the future of work</h1>
              </div>
          </div>
      </div><!-- /row-->
      <div class="row justify-content-center">
          <div class="col-lg-4">
              <div class="layout_two-home_img text-center position-relative px-3">
                  <div class="widgets">
                      <img src="assets/images/company_logo/shopify.jpg" alt="" class="square-sm rounded">
                      <img src="assets/images/company_logo/flutter.jpg" alt="" class="square-sm rounded">
                      <img src="assets/images/company_logo/vue.jpg" alt="" class="square-sm rounded">
                  </div>
                  <img src="assets/images/layout_two-home.png" alt="" class="img-fluid">
              </div>
          </div>
      </div>
  </div><!-- /cntainer-->
  <span class="font_effect text-success">FIND</span>
  <span class="font_effect-2 text-success">JOBS</span>
</section>

<div class="container mt-n6">
  <div class="row justify-content-center">
      <div class="col-lg-10">
          <div class="card border-0 mt-n5">
              <div class="card-body">
                  <form action="#!">
                      <div class="row g-2">
                          <div class="col-lg-3">
                              <div>
                                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Job title or keyword ...">
                              </div>
                          </div>
                          <div class="col-lg-3">
                              <select class="form-select">
                                  <option selected>Select Category</option>
                                  <option value="1">Software</option>
                                  <option value="2">Management</option>
                                  <option value="3">Advertising</option>
                                  <option value="4">Industry</option>
                                  <option value="5">Finance</option>
                              </select>
                          </div>
                          <div class="col-lg-3">
                              <div>
                                  <select id="country" class="form-select" name="country">
                                      <option>Select Country</option>
                                      <option value="AF" selected>Afghanistan</option>
                                      <option value="AX">Aland Islands</option>
                                      <option value="AL">Albania</option>
                                      <option value="DZ">Algeria</option>
                                      <option value="AS">American Samoa</option>
                                      <option value="AD">Andorra</option>
                                      <option value="AO">Angola</option>
                                      <option value="AI">Anguilla</option>
                                      <option value="AQ">Antarctica</option>
                                      <option value="AG">Antigua and Barbuda</option>
                                      <option value="AR">Argentina</option>
                                      <option value="AM">Armenia</option>
                                      <option value="AW">Aruba</option>
                                      <option value="AU">Australia</option>
                                      <option value="AT">Austria</option>
                                      <option value="AZ">Azerbaijan</option>
                                      <option value="BS">Bahamas</option>
                                      <option value="BH">Bahrain</option>
                                      <option value="BD">Bangladesh</option>
                                      <option value="BB">Barbados</option>
                                      <option value="BY">Belarus</option>
                                      <option value="BE">Belgium</option>
                                      <option value="BZ">Belize</option>
                                      <option value="BJ">Benin</option>
                                      <option value="BM">Bermuda</option>
                                      <option value="BT">Bhutan</option>
                                      <option value="BO">Bolivia</option>
                                      <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                      <option value="BA">Bosnia and Herzegovina</option>
                                      <option value="BW">Botswana</option>
                                      <option value="BV">Bouvet Island</option>
                                      <option value="BR">Brazil</option>
                                      <option value="IO">British Indian Ocean Territory</option>
                                      <option value="BN">Brunei Darussalam</option>
                                      <option value="BG">Bulgaria</option>
                                      <option value="BF">Burkina Faso</option>
                                      <option value="BI">Burundi</option>
                                      <option value="KH">Cambodia</option>
                                      <option value="CM">Cameroon</option>
                                      <option value="CA">Canada</option>
                                      <option value="CV">Cape Verde</option>
                                      <option value="KY">Cayman Islands</option>
                                      <option value="CF">Central African Republic</option>
                                      <option value="TD">Chad</option>
                                      <option value="CL">Chile</option>
                                      <option value="CN">China</option>
                                      <option value="CX">Christmas Island</option>
                                      <option value="CC">Cocos (Keeling) Islands</option>
                                      <option value="CO">Colombia</option>
                                      <option value="KM">Comoros</option>
                                      <option value="CG">Congo</option>
                                      <option value="CD">Congo, Democratic Republic of the Congo</option>
                                      <option value="CK">Cook Islands</option>
                                      <option value="CR">Costa Rica</option>
                                      <option value="CI">Cote D'Ivoire</option>
                                      <option value="HR">Croatia</option>
                                      <option value="CU">Cuba</option>
                                      <option value="CW">Curacao</option>
                                      <option value="CY">Cyprus</option>
                                      <option value="CZ">Czech Republic</option>
                                      <option value="DK">Denmark</option>
                                      <option value="DJ">Djibouti</option>
                                      <option value="DM">Dominica</option>
                                      <option value="DO">Dominican Republic</option>
                                      <option value="EC">Ecuador</option>
                                      <option value="EG">Egypt</option>
                                      <option value="SV">El Salvador</option>
                                      <option value="GQ">Equatorial Guinea</option>
                                      <option value="ER">Eritrea</option>
                                      <option value="EE">Estonia</option>
                                      <option value="ET">Ethiopia</option>
                                      <option value="FK">Falkland Islands (Malvinas)</option>
                                      <option value="FO">Faroe Islands</option>
                                      <option value="FJ">Fiji</option>
                                      <option value="FI">Finland</option>
                                      <option value="FR">France</option>
                                      <option value="GF">French Guiana</option>
                                      <option value="PF">French Polynesia</option>
                                      <option value="TF">French Southern Territories</option>
                                      <option value="GA">Gabon</option>
                                      <option value="GM">Gambia</option>
                                      <option value="GE">Georgia</option>
                                      <option value="DE">Germany</option>
                                      <option value="GH">Ghana</option>
                                      <option value="GI">Gibraltar</option>
                                      <option value="GR">Greece</option>
                                      <option value="GL">Greenland</option>
                                      <option value="GD">Grenada</option>
                                      <option value="GP">Guadeloupe</option>
                                      <option value="GU">Guam</option>
                                      <option value="GT">Guatemala</option>
                                      <option value="GG">Guernsey</option>
                                      <option value="GN">Guinea</option>
                                      <option value="GW">Guinea-Bissau</option>
                                      <option value="GY">Guyana</option>
                                      <option value="HT">Haiti</option>
                                      <option value="HM">Heard Island and Mcdonald Islands</option>
                                      <option value="VA">Holy See (Vatican City State)</option>
                                      <option value="HN">Honduras</option>
                                      <option value="HK">Hong Kong</option>
                                      <option value="HU">Hungary</option>
                                      <option value="IS">Iceland</option>
                                      <option value="IN">India</option>
                                      <option value="ID">Indonesia</option>
                                      <option value="IR">Iran, Islamic Republic of</option>
                                      <option value="IQ">Iraq</option>
                                      <option value="IE">Ireland</option>
                                      <option value="IM">Isle of Man</option>
                                      <option value="IL">Israel</option>
                                      <option value="IT">Italy</option>
                                      <option value="JM">Jamaica</option>
                                      <option value="JP">Japan</option>
                                      <option value="JE">Jersey</option>
                                      <option value="JO">Jordan</option>
                                      <option value="KZ">Kazakhstan</option>
                                      <option value="KE">Kenya</option>
                                      <option value="KI">Kiribati</option>
                                      <option value="KP">Korea, Democratic People's Republic of</option>
                                      <option value="KR">Korea, Republic of</option>
                                      <option value="XK">Kosovo</option>
                                      <option value="KW">Kuwait</option>
                                      <option value="KG">Kyrgyzstan</option>
                                      <option value="LA">Lao People's Democratic Republic</option>
                                      <option value="LV">Latvia</option>
                                      <option value="LB">Lebanon</option>
                                      <option value="LS">Lesotho</option>
                                      <option value="LR">Liberia</option>
                                      <option value="LY">Libyan Arab Jamahiriya</option>
                                      <option value="LI">Liechtenstein</option>
                                      <option value="LT">Lithuania</option>
                                      <option value="LU">Luxembourg</option>
                                      <option value="MO">Macao</option>
                                      <option value="MK">Macedonia, the Former Yugoslav Republic of</option>
                                      <option value="MG">Madagascar</option>
                                      <option value="MW">Malawi</option>
                                      <option value="MY">Malaysia</option>
                                      <option value="MV">Maldives</option>
                                      <option value="ML">Mali</option>
                                      <option value="MT">Malta</option>
                                      <option value="MH">Marshall Islands</option>
                                      <option value="MQ">Martinique</option>
                                      <option value="MR">Mauritania</option>
                                      <option value="MU">Mauritius</option>
                                      <option value="YT">Mayotte</option>
                                      <option value="MX">Mexico</option>
                                      <option value="FM">Micronesia, Federated States of</option>
                                      <option value="MD">Moldova, Republic of</option>
                                      <option value="MC">Monaco</option>
                                      <option value="MN">Mongolia</option>
                                      <option value="ME">Montenegro</option>
                                      <option value="MS">Montserrat</option>
                                      <option value="MA">Morocco</option>
                                      <option value="MZ">Mozambique</option>
                                      <option value="MM">Myanmar</option>
                                      <option value="NA">Namibia</option>
                                      <option value="NR">Nauru</option>
                                      <option value="NP">Nepal</option>
                                      <option value="NL">Netherlands</option>
                                      <option value="AN">Netherlands Antilles</option>
                                      <option value="NC">New Caledonia</option>
                                      <option value="NZ">New Zealand</option>
                                      <option value="NI">Nicaragua</option>
                                      <option value="NE">Niger</option>
                                      <option value="NG">Nigeria</option>
                                      <option value="NU">Niue</option>
                                      <option value="NF">Norfolk Island</option>
                                      <option value="MP">Northern Mariana Islands</option>
                                      <option value="NO">Norway</option>
                                      <option value="OM">Oman</option>
                                      <option value="PK">Pakistan</option>
                                      <option value="PW">Palau</option>
                                      <option value="PS">Palestinian Territory, Occupied</option>
                                      <option value="PA">Panama</option>
                                      <option value="PG">Papua New Guinea</option>
                                      <option value="PY">Paraguay</option>
                                      <option value="PE">Peru</option>
                                      <option value="PH">Philippines</option>
                                      <option value="PN">Pitcairn</option>
                                      <option value="PL">Poland</option>
                                      <option value="PT">Portugal</option>
                                      <option value="PR">Puerto Rico</option>
                                      <option value="QA">Qatar</option>
                                      <option value="RE">Reunion</option>
                                      <option value="RO">Romania</option>
                                      <option value="RU">Russian Federation</option>
                                      <option value="RW">Rwanda</option>
                                      <option value="BL">Saint Barthelemy</option>
                                      <option value="SH">Saint Helena</option>
                                      <option value="KN">Saint Kitts and Nevis</option>
                                      <option value="LC">Saint Lucia</option>
                                      <option value="MF">Saint Martin</option>
                                      <option value="PM">Saint Pierre and Miquelon</option>
                                      <option value="VC">Saint Vincent and the Grenadines</option>
                                      <option value="WS">Samoa</option>
                                      <option value="SM">San Marino</option>
                                      <option value="ST">Sao Tome and Principe</option>
                                      <option value="SA">Saudi Arabia</option>
                                      <option value="SN">Senegal</option>
                                      <option value="RS">Serbia</option>
                                      <option value="CS">Serbia and Montenegro</option>
                                      <option value="SC">Seychelles</option>
                                      <option value="SL">Sierra Leone</option>
                                      <option value="SG">Singapore</option>
                                      <option value="SX">Sint Maarten</option>
                                      <option value="SK">Slovakia</option>
                                      <option value="SI">Slovenia</option>
                                      <option value="SB">Solomon Islands</option>
                                      <option value="SO">Somalia</option>
                                      <option value="ZA">South Africa</option>
                                      <option value="GS">South Georgia and the South Sandwich Islands</option>
                                      <option value="SS">South Sudan</option>
                                      <option value="ES">Spain</option>
                                      <option value="LK">Sri Lanka</option>
                                      <option value="SD">Sudan</option>
                                      <option value="SR">Suriname</option>
                                      <option value="SJ">Svalbard and Jan Mayen</option>
                                      <option value="SZ">Swaziland</option>
                                      <option value="SE">Sweden</option>
                                      <option value="CH">Switzerland</option>
                                      <option value="SY">Syrian Arab Republic</option>
                                      <option value="TW">Taiwan, Province of China</option>
                                      <option value="TJ">Tajikistan</option>
                                      <option value="TZ">Tanzania, United Republic of</option>
                                      <option value="TH">Thailand</option>
                                      <option value="TL">Timor-Leste</option>
                                      <option value="TG">Togo</option>
                                      <option value="TK">Tokelau</option>
                                      <option value="TO">Tonga</option>
                                      <option value="TT">Trinidad and Tobago</option>
                                      <option value="TN">Tunisia</option>
                                      <option value="TR">Turkey</option>
                                      <option value="TM">Turkmenistan</option>
                                      <option value="TC">Turks and Caicos Islands</option>
                                      <option value="TV">Tuvalu</option>
                                      <option value="UG">Uganda</option>
                                      <option value="UA">Ukraine</option>
                                      <option value="AE">United Arab Emirates</option>
                                      <option value="GB">United Kingdom</option>
                                      <option value="US">United States</option>
                                      <option value="UM">United States Minor Outlying Islands</option>
                                      <option value="UY">Uruguay</option>
                                      <option value="UZ">Uzbekistan</option>
                                      <option value="VU">Vanuatu</option>
                                      <option value="VE">Venezuela</option>
                                      <option value="VN">Viet Nam</option>
                                      <option value="VG">Virgin Islands, British</option>
                                      <option value="VI">Virgin Islands, U.s.</option>
                                      <option value="WF">Wallis and Futuna</option>
                                      <option value="EH">Western Sahara</option>
                                      <option value="YE">Yemen</option>
                                      <option value="ZM">Zambia</option>
                                      <option value="ZW">Zimbabwe</option>
                                  </select>
                              </div>
                          </div>
                          <div class="col-lg-3">
                              <div>
                                  <button type="button" class="btn btn-success w-100">Find Jobs</button>
                              </div>
                          </div>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="wrapper-box pb-0">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="trusted_holder text-center mb-5">
                  <p class="text-muted d-inline-block mb-0 px-4">Trusted by job holders from</p>
              </div>
          </div>
      </div>
      <div class="row g-4 justify-content-center align-items-center">
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/facebook.png" alt="" height="28">
              </a>
          </div>
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/amazon.png" alt="" height="28">
              </a>
          </div>
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/philips.png" alt="" height="28">
              </a>
          </div>
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/soriana.png" alt="" height="28">
              </a>
          </div>
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/walmart.png" alt="" height="28">
              </a>
          </div>
          <div class="col-lg-2 col-md-3">
              <a href="#!" class="d-block px-4 m-2 text-center">
                  <img src="assets/images/logos/lenovo.png" alt="" height="28">
              </a>
          </div>
      </div>
  </div>
</section>

<section class="wrapper-box">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="lh-base mb-0">Recent Job Posts</h2>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
      <div class="row">
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-success-subtle">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$152/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">Senior UI Developer</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/shopify.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">Shopify Brands</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">05 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-light">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$105.99/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">eCommerce Executive</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/flask.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">Object Themes</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">08 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-primary-subtle">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$199/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">Flutter Developer</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/flutter.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">Flutter Dev</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">09 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-warning-subtle">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$90/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">Recruitment Executive</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/vue.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">Vue Zilla</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">08 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-dark-subtle">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$119.99/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">Site Administration</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/react.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">React Flow</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">13 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
          <div class="col-lg-4">
              <div class="card p-2 border-0">
                  <div class="card-body bg-info-subtle">
                      <div class="d-flex mb-4">
                          <div class="flex-grow-1">
                              <h6 class="font-16 mb-0">$290/hr</h6>
                          </div>
                          <div class="flex-shrink-0">
                              <button type="button" class="btn btn-secondary btn-soft btn-bookmark float-end" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                          </div>
                      </div>
                      <a href="#!">
                          <h4 class="fw-normal mb-3">Marketing Executive</h4>
                      </a>
                      <a href="#!" class="font-15">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
                  <div class="card-body">
                      <div class="d-flex gap-2 pt-2">
                          <div class="flex-shrink-0">
                              <img src="assets/images/company_logo/shopify.jpg" alt="" class="square-xs rounded">
                          </div>
                          <div class="flex-grow-1">
                              <a href="#!">
                                  <h6 class="mb-1">Shopify Brands</h6>
                              </a>
                              <p class="text-muted font-13 mb-0">03 Position</p>
                          </div>
                          <div class="flex-shrink-0">
                              <button class="btn btn-secondary btn-sm">Apply Now</button>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- .col-->
      </div><!-- /row-->
  </div><!-- /container-->
</section>

<section class="wrapper-box bg-light">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="lh-base text-capitalize mb-0">Follow our steps, we will help you</h2>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="display-5 position-absolute end-0 top-0 m-2 text-secondary" style="--bs-text-opacity: .1;">01</div>
                  <div class="card-body">
                      <div class="square-sm mb-4">
                          <div class="square-content bg-success-subtle text-success font-20 rounded">
                              <i class="bi bi-box-arrow-in-right"></i>
                          </div>
                      </div>
                      <h6 class="font-17">Register</h6>
                      <p class="text-muted font-15 mb-0">Register in using your phone number and complete your profile.</p>
                  </div>
              </div>
          </div><!-- /col-->
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="display-5 position-absolute end-0 top-0 m-2 text-secondary" style="--bs-text-opacity: .1;">02</div>
                  <div class="card-body">
                      <div class="square-sm mb-4">
                          <div class="square-content bg-success-subtle text-success font-20 rounded">
                              <i class="bi bi-file-earmark-text"></i>
                          </div>
                      </div>
                      <h6 class="font-17">Create a Resume</h6>
                      <p class="text-muted font-15 mb-0">A resume builder is an online resume maker that provides guidance.</p>
                  </div>
              </div>
          </div><!-- /col-->
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="display-5 position-absolute end-0 top-0 m-2 text-secondary" style="--bs-text-opacity: .1;">03</div>
                  <div class="card-body">
                      <div class="square-sm mb-4">
                          <div class="square-content bg-success-subtle text-success font-20 rounded">
                              <i class="bi bi-search"></i>
                          </div>
                      </div>
                      <h6 class="font-17">Find Job</h6>
                      <p class="text-muted font-15 mb-0">The top easiest jobs to get are waiting tables, a customer service specialist.</p>
                  </div>
              </div>
          </div><!-- /col-->
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <div class="display-5 position-absolute end-0 top-0 m-2 text-secondary" style="--bs-text-opacity: .1;">04</div>
                  <div class="card-body">
                      <div class="square-sm mb-4">
                          <div class="square-content bg-success-subtle text-success font-20 rounded">
                              <i class="bi bi-send"></i>
                          </div>
                      </div>
                      <h6 class="font-17">Apply Job</h6>
                      <p class="text-muted font-15 mb-0">If you are sending a paper copy of the job application letter to the employer.</p>
                  </div>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
  </div><!-- /container-->
</section>

<section class="wrapper-box">
  <div class="container">
      <div class="row align-items-center">
          <div class="col-lg-6">
              <div class="layout-two-about">
                  <img src="assets/images/layout-two-about.png" alt="" class="img-fluid d-block mx-auto">
                  <div class="card widgets border-0">
                      <div class="card-body">
                          <h6 class="mb-3"><span class="fw-bold">15k+</span> Freelancer</h6>
                          <div class="">
                              <a href="#!" data-bs-toggle="tooltip" data-bs-title="Amy Murray"><img src="assets/images/feedback_client/client-01.jpg" alt="" class="square-xs object-fit-cover rounded-circle border border-3 border-white"></a>
                              <a href="#!" data-bs-toggle="tooltip" data-bs-title="Howard Zamora"><img src="assets/images/feedback_client/client-02.jpg" alt="" class="square-xs object-fit-cover rounded-circle ms-n3 border border-3 border-white"></a>
                              <a href="#!" data-bs-toggle="tooltip" data-bs-title="Elaine Barrow"><img src="assets/images/feedback_client/client-03.jpg" alt="" class="square-xs object-fit-cover rounded-circle ms-n3 border border-3 border-white"></a>
                              <a href="#!" data-bs-toggle="tooltip" data-bs-title="Stephen Connor"><img src="assets/images/feedback_client/client-04.jpg" alt="" class="square-xs object-fit-cover rounded-circle ms-n3 border border-3 border-white"></a>
                              <a href="#!" data-bs-toggle="tooltip" data-bs-title="Veronica Garcia"><img src="assets/images/feedback_client/client-05.jpg" alt="" class="square-xs object-fit-cover rounded-circle ms-n3 border border-3 border-white"></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-5 ms-auto">
              <div class="mt-4 mt-lg-0">
                  <h2 class="lh-base text-capitalize mb-3">We provide a place to find trusted jobs</h2>
                  <p class="text-muted mb-2"><b>Job portals</b>, or <b>job boards</b>, are sites where you can advertise jobs and search for resumes. They are an integral part of almost every hiring process and using them effectively will translate into qualified candidates.</p>
                  <p class="text-muted mb-4">World Wide Web site that is or proposes to be a major starting site for users when they get connected to the Web.</p>
                  <div>
                      <button class="btn btn-success btn-effect"><i class="bi bi-search align-baseline me-1"></i> Find Jobs</button>
                  </div>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->

      <div class="row mt-5 pt-4">
          <div class="col-md-4">
              <div class="text-center mb-4 mb-md-0">
                  <h3 class="mb-3"><span class="counters" theme-counter="8">0</span>M</h3>
                  <p class="text-muted mb-0">4 million daily active users</p>
              </div>
          </div><!-- /col-->
          <div class="col-md-4">
              <div class="text-center mb-4 mb-md-0">
                  <h3 class="mb-3"><span class="counters" theme-counter="17">0</span>k</h3>
                  <p class="text-muted mb-0">Open job positions</p>
              </div>
          </div><!-- /col-->
          <div class="col-md-4">
              <div class="text-center">
                  <h3 class="mb-3"><span class="counters" theme-counter="50">0</span>M</h3>
                  <p class="text-muted mb-0">Over 20 million stories shared</p>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
  </div><!-- /container-->
</section>

<section class="wrapper-box pt-0">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-6">
              <div class="text-center mb-5">
                  <h2 class="lh-base text-capitalize mb-0">Read to grow knowledge</h2>
              </div>
          </div><!-- /col-->
      </div><!-- /row-->
      <div class="row">
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <img src="assets/images/other/blog_1.jpeg" alt="" class="card-img-top">
                  <div class="card-body">
                      <div class="font-13 d-flex align-items-center mb-2">
                          <span class="text-muted flex-grow-1"><i class="bi bi-eye align-baseline me-1"></i> 354</span>
                          <span class="text-muted flex-shrink-0"><i class="bi bi-calendar-event align-baseline me-1"></i> 23 Feb, 2023</span>
                      </div>
                      <a href="#!">
                          <h6 class="font-16 text-truncate lh-base mt-2">10 Jobs That Offer Traditional Pensions</h6>
                      </a>
                      <p class="text-muted three_line">The highest paying jobs in the U.S. are all in medicine, according to the Bureau of Labor Statistics.</p>
                      <a href="#!" class="link-success">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <img src="assets/images/other/blog_2.jpeg" alt="" class="card-img-top">
                  <div class="card-body">
                      <div class="font-13 d-flex align-items-center mb-2">
                          <span class="text-muted flex-grow-1"><i class="bi bi-eye align-baseline me-1"></i> 354</span>
                          <span class="text-muted flex-shrink-0"><i class="bi bi-calendar-event align-baseline me-1"></i> 23 Feb, 2023</span>
                      </div>
                      <a href="#!">
                          <h6 class="font-16 text-truncate lh-base mt-2">Negotiating a Pay Raise During Inflation</h6>
                      </a>
                      <p class="text-muted three_line">Long-term employees in these industries are often able to retire comfortably.</p>
                      <a href="#!" class="link-success">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <img src="assets/images/other/blog_3.jpeg" alt="" class="card-img-top">
                  <div class="card-body">
                      <div class="font-13 d-flex align-items-center mb-2">
                          <span class="text-muted flex-grow-1"><i class="bi bi-eye align-baseline me-1"></i> 354</span>
                          <span class="text-muted flex-shrink-0"><i class="bi bi-calendar-event align-baseline me-1"></i> 23 Feb, 2023</span>
                      </div>
                      <a href="#!">
                          <h6 class="font-16 text-truncate lh-base mt-2">10 Sites to Find Legit Remote Jobs</h6>
                      </a>
                      <p class="text-muted three_line">Stay away from scams and bogus job listing sites. Here's how to find real work-from-home jobs.</p>
                      <a href="#!" class="link-success">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6">
              <div class="card border-0 card-effect">
                  <img src="assets/images/other/blog_4.jpeg" alt="" class="card-img-top">
                  <div class="card-body">
                      <div class="font-13 d-flex align-items-center mb-2">
                          <span class="text-muted flex-grow-1"><i class="bi bi-eye align-baseline me-1"></i> 354</span>
                          <span class="text-muted flex-shrink-0"><i class="bi bi-calendar-event align-baseline me-1"></i> 23 Feb, 2023</span>
                      </div>
                      <a href="#!">
                          <h6 class="font-16 text-truncate lh-base mt-2">Get ready for Generation Z at work</h6>
                      </a>
                      <p class="text-muted three_line">Quiet hiring is the latest workplace trend, impacting 80% of today’s workers, according to a recent poll.</p>
                      <a href="#!" class="link-success">Read More <i class="bi bi-arrow-right align-baseline ms-1"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div><!-- /container-->
</section>
