<section id="team" class="py-16">
    <div class="container">
        <div class="text-center max-w-2xl mx-auto">
            <span class="text-indigo-500 font-semibold">Our Team</span>
            <h3 class="md:text-4xl text-3xl font-bold mt-2">Our experts team member</h3>
        </div>

        <div class="grid md:grid-cols-12 grid-cols-1 gap-[30px] mt-14">
            @for (item of teamMender; track item.id) {
            <div class="lg:col-span-3 md:col-span-6">
                <div class="group text-center">
                    <div class="relative inline-block mx-auto rounded-full overflow-hidden">
                        <img src={{item.img}} alt="">
                        <div
                            class="absolute inset-0 bg-gradient-to-b from-transparent to-black rounded-full opacity-0 group-hover:opacity-100 duration-500">
                        </div>

                        <div class="absolute start-0 inset-x-0 end-0 -bottom-20 group-hover:bottom-3 duration-500">
                            <ul class="mb-4">
                                <li class="inline-block"><a href="javascript:void(0)"
                                        class="h-10 w-10 mx-0.5 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-white dark:bg-dark"><i
                                            class="mdi mdi-facebook text-2xl text-indigo-500"></i></a></li>
                                <li class="inline-block"><a href="javascript:void(0)"
                                        class="h-10 w-10 mx-0.5 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-white dark:bg-dark"><i
                                            class="mdi mdi-instagram text-2xl text-indigo-500"></i></a></li>
                                <li class="inline-block"><a href="javascript:void(0)"
                                        class="h-10 w-10 mx-0.5 inline-flex items-center justify-center tracking-wide align-middle duration-500 text-base text-center rounded-full bg-white dark:bg-dark"><i
                                            class="mdi mdi-twitter text-2xl text-indigo-500"></i></a></li>
                            </ul><!-- end social-->
                        </div>
                    </div>
                    <a href="javascript:void(0)"
                        class="block text-lg font-semibold group-hover:text-primary duration-500 mt-3">{{item.name}}</a>
                </div>
            </div><!-- end grid-col -->
            }
        </div><!-- end grid -->
    </div><!-- Container End -->
</section>