<section id="home" class="md:pt-[200px] md:pb-[120px] pt-[100px] pb-[120px] relative bg-blue-500/5 overflow-hidden">
    <div class="container relative">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div>
                <span
                    class="py-0.5 px-2 rounded font-semibold text-indigo-500 bg-indigo-500/10 dark:bg-white/10">Trusted</span>
                <h2 class="md:text-5xl/snug text-4xl/tight font-semibold mt-4">Scale your business bigger than ever</h2>
                <p class="text-base font-medium text-muted mt-2">Lorem ipsum dolor sit amet, consectetuer adipiscing
                    elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis
                    parturient montes, nascetur ridiculus mus.</p>
                <div class="mt-12 flex flex-wrap items-center gap-4">
                    <a href="javascript:void(0)"
                        class="py-2.5 px-4 text-base font-bold rounded-lg text-white border border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get
                        stared</a>
                    <a href="javascript:void(0)"
                        class="py-2.5 px-4 rounded-lg text-base font-semibold text-dark hover:text-indigo-500 border-indigo-500/20 hover:bg-indigo-500/10 flex items-center gap-2 transition-all duration-500 dark:text-white">Read
                        more <i class="mdi mdi-arrow-right"></i></a>
                </div>
            </div>
            <div class="mx-auto relative">
                <img src="assets/images/home-11.png" class="-mb-32 mx-auto rounded-2xl" alt="">

                <div class="absolute inset-x-0 -bottom-48 -z-10 md:block hidden">
                    <div class="h-[550px] w-[550px] rounded-full bg-indigo-500/20"></div>
                </div>
                <div class="absolute -end-12 -bottom-24 md:block hidden">
                    <div
                        class="inline-block p-4 text-center rounded-xl border bg-white dark:bg-black dark:border-muted/20">
                        <h3 class="text-2xl font-bold text-indigo-500">1000+</h3>
                        <p class="text-base font-medium text-muted mt-1">Satisfiled clients</p>
                        <div class="flex items-center -space-x-3 mt-3">
                            <img src="assets/images/avatar/img-1.png" class="h-12 rounded-full" alt="">
                            <img src="assets/images/avatar/img-2.png" class="h-12 rounded-full" alt="">
                            <img src="assets/images/avatar/img-3.png" class="h-12 rounded-full" alt="">
                            <img src="assets/images/avatar/img-4.png" class="h-12 rounded-full" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-12">
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>