<section id="about" class="py-16">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div>
                <img src="assets/images/img-2.png" class="h-[450px] mx-auto" alt="">
            </div>
            <div>
                <span class="text-indigo-500 font-semibold">About</span>
                <h3 class="md:text-4xl/tight text-3xl font-bold mt-2">We provide a variety of services as part of our business model.</h3>
                <p class="text-muted mt-5">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
                <a href="javascript:void(0)" class="inline-block mt-8 py-2.5 px-4 text-base font-bold rounded-lg text-white border border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Read more</a>
            </div>
        </div>
    </div>
</section>