<section id="home" class="m-5 mt-24 py-44 rounded-3xl flex items-center justify-center bg-gradient-to-r from-cyan-500/20 to-blue-500/20">
    <div class="container">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class=" md:text-6xl/tight text-4xl/tight font-semibold">Elevate your business to the <span class="text-indigo-500">Next step</span></h2>
            <p class="text-base font-medium text-muted max-w-xl mx-auto mt-5">Lorem lpsum is simply text dummy text pricing and typesing industry. Lorem lpsum has been the inchustry's stardard.</p>

            <form class="relative max-w-[450px] mx-auto mt-8">
                <input type="text" class=" p-3 w-full text-sm outline-none pr-[150px] pl-5 rounded-full bg-transperent border border-muted/50 focus:outline-0 focus:ring-0 focus:border-indigo-500 dark:bg-transparent" placeholder="Email" required>
                <button type="submit" class="absolute tracking-[1px] font-normal text-[15px] rounded-r-full capitalize top-0 right-0 outline-none text-sm py-[12px] px-[30px] bg-indigo-500 text-white border border-indigo-500">
                    Subcribe
                </button>
            </form>
        </div>
    </div>
</section>