<section id="home" class="lg:h-screen py-40 flex items-center justify-center relative overflow-hidden">
    <div class="absolute inset-0">
        <img src="assets/images/bg.svg" class="w-full block dark:hidden" alt="">
        <div class="opacity-5 bg-repeat">
            <img src="assets/images/dark-bg-2.png" class="hidden dark:block" alt="">
        </div>
    </div>
    <div class="container relative">
        <div class="max-w-3xl mx-auto text-center">
            <span class="py-0.5 px-2 rounded font-semibold text-indigo-500 bg-indigo-500/10 dark:bg-white/10">We provide a great concept</span>
            <h2 class=" md:text-5xl/tight text-4xl/tight font-semibold mt-3">We inspire growth for your business brand.</h2>
            <p class="text-base font-medium text-muted max-w-xl mx-auto mt-5">Our buisness consuiting providing actionable recom mend to force enterprise transformation.</p>
            <div class="mt-10">
                <a href="#" class="py-2.5 px-4 text-base font-bold rounded-lg text-white border border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get stared</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>