<div class="page-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-xl-12">
              <div class="d-flex flex-column flex-md-row gap-3">
                  <img src="assets/images/company_logo/telegram.png" alt="" class="square-md flex-shrink-0">
                  <div class="flex-grow-1">
                      <a href="#!"><p class="mb-2 text-secondary text-decoration-underline fw-medium font-15">ObjectThemes</p></a>
                      <h5 class="font-17">Marketing Executive</h5>
                      <ul class="d-flex align-items-center gap-2 list-unstyled mb-0 font-13 text-muted flex-wrap">
                          <li><i class="bi bi-geo-alt align-baseline me-1"></i> Mexico</li>
                          <li class="vr"></li>
                          <li><i class="bi bi-cash align-baseline me-1"></i> $165 - $182</li>
                          <li class="vr"></li>
                          <li>63 Applicant</li>
                      </ul>
                  </div>
                  <div class="flex-shrink-0">
                      <button class="btn btn-success">Apply Now <i class="bi bi-arrow-right align-baseline ms-1"></i></button>
                      <button type="button" class="btn btn-warning btn-soft" data-bs-toggle="button"><i class="bi bi-bookmark-star"></i></button>
                  </div>
              </div>
          </div><!-- .col-->
      </div><!--.row-->
  </div><!-- /container-->
</div>

<section class="wrapper-box">
  <div class="container">
      <div class="row">
          <div class="col-xxl-9">
              <h6 class="font-18">Job Description</h6>
              <p class="text-muted mb-2">We are looking for a talented Marketing Executive to undertake marketing projects for the benefit of our company. You will organize creative campaigns and promotional events that can make a difference for our company’s success according to trends and customer requirements.</p>
              <p class="text-muted mb-2">The ideal candidate will be passionate for the “art” of marketing and will have an abundance of ideas for building efficient strategies. He/she must bring forth a strong arsenal of techniques and methods to promote our products, services and public image.</p>
              <p class="text-muted">The goal is to reach out to the market and cultivate the customer’s interest in our products and services in ways that strengthen our reputation and facilitate our continuous growth.</p>

              <h6 class="font-18 mb-3">Responsibilities</h6>
              <ul class="vstack gap-2 text-muted">
                 <li>Conceive and develop efficient and intuitive marketing strategies</li>
                 <li>Organize and oversee advertising/communication campaigns (social media, TV etc.), exhibitions and promotional events</li>
                 <li>Conduct market research and analysis to evaluate trends, brand awareness and competition ventures</li>
                 <li>Initiate and control surveys to assess customer requirements and dedication</li>
                 <li>Write copy for diverse marketing distributions (brochures, press releases, website material etc.)</li>
                 <li>Maintain relationships with media vendors and publishers to ensure collaboration in promotional activities</li>
                 <li>Collaborate with managers in preparing budgets and monitoring expens</li>
              </ul>

              <h6 class="font-18 mb-3">Requirements and skills</h6>
              <ul class="vstack gap-2 text-muted">
                  <li>Proven experience as marketing executive or similar role</li>
                  <li>Good understanding of market research techniques, data analysis and statistics methods</li>
                  <li>Thorough knowledge of strategic planning principles and marketing best practices</li>
                  <li>Proficient in MS Office and marketing software (e.g. CRM)</li>
                  <li>Excellent communication and people skills</li>
                  <li>Creativity and commercial awareness</li>
              </ul>

              <h6 class="font-18 mb-3">Share Profile</h6>

              <div class="hstack gap-2 flex-wrap mb-3">
                  <a href="#!" class="btn btn-primary"><i class="bi bi-facebook me-1 align-baseline"></i> Facebook</a>
                  <a href="#!" class="btn btn-success"><i class="bi bi-whatsapp me-1 align-baseline"></i> WhatsApp</a>
                  <a href="#!" class="btn btn-info"><i class="bi bi-linkedin me-1 align-baseline"></i> Linkedin</a>
                  <a href="#!" class="btn btn-danger"><i class="bi bi-envelope me-1 align-baseline"></i> Email</a>
              </div>

              <h6 class="font-18 mb-3">Location</h6>

              <iframe class="border-0 w-100 rounded" height="400" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6511979.223877263!2d-124.59185623546793!3d37.160370665002034!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C%20USA!5e0!3m2!1sen!2sin!4v1687098090269!5m2!1sen!2sin" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

          </div>
          <div class="col-xxl-3">
              <div class="card">
                  <div class="card-body">
                      <h6 class="font-16 mb-4">Job Overview</h6>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-calendar"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Date Posted</h6>
                              <p class="mb-0 font-13 text-muted">13 min ago</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-eye"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Post Views</h6>
                              <p class="mb-0 font-13 text-muted">6487</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-card-text"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Applicants</h6>
                              <p class="mb-0 font-13 text-muted">24</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-geo-alt"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Location</h6>
                              <p class="mb-0 font-13 text-muted">Mexico</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-clock"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Experience</h6>
                              <p class="mb-0 font-13 text-muted">2+ Years</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2 mb-3">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-buildings"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Qualification</h6>
                              <p class="mb-0 font-13 text-muted">Bachelor Degree</p>
                          </div>
                      </div>
                      <div class="d-flex gap-2">
                          <div class="square-xs flex-shrink-0">
                              <div class="square-content bg-light text-body rounded">
                                  <i class="bi bi-cash"></i>
                              </div>
                          </div>
                          <div>
                              <h6 class="font-14 fw-normal mb-1">Salary</h6>
                              <p class="mb-0 font-13 text-muted">$165 - $182</p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-body">
                      <h6 class="font-16 mb-4">Job Skills</h6>
                      <div class="hstack gap-2 align-items-center flex-wrap">
                          <span class="badge bg-secondary-subtle text-secondary">Communication</span>
                          <span class="badge bg-secondary-subtle text-secondary">Marketing</span>
                          <span class="badge bg-secondary-subtle text-secondary">Business</span>
                          <span class="badge bg-secondary-subtle text-secondary">ReactJs</span>
                          <span class="badge bg-secondary-subtle text-secondary">Angular</span>
                          <span class="badge bg-secondary-subtle text-secondary">JavaScript</span>
                          <span class="badge bg-secondary-subtle text-secondary">Bootstrap</span>
                      </div>
                  </div>
              </div>
              <div class="card">
                  <div class="card-body">
                      <h6 class="font-16 mb-4">Contact Us</h6>

                      <form action="#!">
                          <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Subject">
                          </div>
                          <div class="mb-3">
                              <input type="text" class="form-control" placeholder="Enter your name">
                          </div>
                          <div class="mb-3">
                              <input type="email" class="form-control" placeholder="Enter your email">
                          </div>
                          <div class="mb-3">
                              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                          </div>
                          <div>
                              <button class="btn btn-success w-100">Send Message</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div><!--.col-->
      </div><!--.row-->
  </div><!--.container-->
</section>
