<section id="home" class="md:pt-[190px] md:pb-[115px] pt-[100px] pb-[120px] relative">
    <div class="container">
        <div class="relative">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
                <div class="max-w-xl">
                    <h2 class="md:text-5xl/tight text-4xl leading-tight font-semibold mt-3">We are here to solve your business problems</h2>
                    <p class="text-lg font-medium text-muted max-w-md mt-5">Instantify gives you the most exclusive deals from the best brands in the world. we make your life easier. period.</p>
                    <form class="relative max-w-[450px] mt-12">
                        <input type="text" class=" p-3 w-full text-sm outline-none pr-[150px] pl-5 rounded-md bg-transperent border border-muted/50 focus:outline-0 focus:ring-0 focus:border-indigo-500 dark:bg-transparent" placeholder="Email Address" required>
                        <button type="submit" class="absolute tracking-[1px] font-normal text-[15px] rounded-r-md capitalize top-0 right-0 outline-none text-sm py-[12px] px-[30px] bg-indigo-500 text-white border border-indigo-500">
                            Get stared
                        </button>
                    </form>
                    <div class="flex items-center gap-2 mt-5">
                        <i class="mdi mdi-check-circle-outline text-xl text-indigo-500"></i>
                        <p class="text-sm font-semibold">We will never share your email address with a third party.</p>
                    </div>
                </div>
                <div>
                    <img src="assets/images/home-6.png" class="mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>