<ngx-slick-carousel class="swiper mySwiper" [config]="slideConfig">
    <!-- <div class="swiper-wrapper"> -->
    <div ngxSlickItem>
        <img src="assets/images/clients/1.png" alt="">
    </div>
    <div ngxSlickItem>
        <img src="assets/images/clients/2.png" alt="">
    </div>
    <div ngxSlickItem>
        <img src="assets/images/clients/3.png" alt="">
    </div>
    <div ngxSlickItem>
        <img src="assets/images/clients/4.png" alt="">
    </div>
    <div ngxSlickItem>
        <img src="assets/images/clients/3.png" alt="">
    </div>
    <!-- </div> -->
</ngx-slick-carousel>

