<section id="home" class="md:pt-[160px] md:pb-[60px] pt-[100px] pb-[120px]">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div class="max-w-xl">
                <span class="py-0.5 px-2 rounded font-medium text-indigo-500 bg-indigo-500/10">We provide a great concept</span>
                <h2 class="md:text-5xl/tight text-4xl/tight font-semibold mt-3">Create your own a business style</h2>
                <p class="text-lg font-medium text-muted mt-5">Tempor invidunt ut labare magna aliquyam erat, sed diam</p>
                <div class="flex flex-wrap items-center gap-6 mt-6">
                    <a href="#" class="py-2.5 px-5 text-base font-bold rounded-lg text-white border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get stared</a>

                    <div>
                        <div class="flex items-center gap-4">
                            <button class="modal-open bg-transparent h-12 w-12 text-2xl font-bold border-2 rounded-full border-indigo-500/30 text-indigo-500 transition-all duration-500">
                                <i class="mdi mdi-play"></i>
                            </button>
                            <span class="text-base font-semibold">What's treanding?</span>
                        </div>
                    </div>
                </div>

                <h5 class="text-xl font-bold mt-10">Business available</h5>
                <p class="text-base font-semibold text-muted mt-2">Famous style guide</p>
            </div>
            <div class="relative">
                <img src="assets/images/img-2.png" class="h-[550px] mx-auto" alt="">

                <div class="absolute start-0 top-40 md:block hidden">
                    <div class="max-w-56 flex items-center gap-4 p-5 rounded-xl border border-muted/10 bg-muted/5">
                        <i class="mdi mdi-seal text-4xl"></i>
                        <p class="text-base font-semibold text-muted">A good business man awards</p>
                    </div>
                </div>
                <div class="absolute end-0 bottom-10 md:block hidden">
                    <div class="max-w-56 flex items-center gap-4 p-5 rounded-xl border border-muted/10 bg-muted/5">
                        <h5 class="text-4xl font-bold">26k</h5>
                        <p class="text-base font-semibold text-muted">Active businessman</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Start swiper -->
        <div class="relative order-1 client-sec md:order-2 mt-24">
            <app-client></app-client>
        </div>
        <!-- End swiper -->
    </div>
</section>