<div class="page-wrapper">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-10">
              <h4 class="mb-2">Let's level up your brand, together</h4>
              <p class="text-muted">Let's talk about this website or project. Send us a Message and we will be in touch within one work day.</p>
              <ul class="mb-0 d-flex flex-wrap gap-3 list-unstyled">
                  <li>
                      <a href="tel:(159)984512541" class="text-muted"><i class="bi bi-telephone me-1 text-body"></i> +(159) 98451 2541</a>
                  </li>
                  <li>
                      <a href="mailto:hiresy@objectthemes.com" class="text-muted"><i class="bi bi-envelope me-1 text-body"></i> hiresy&#64;objectthemes.com</a>
                  </li>
              </ul>
          </div><!-- .col-->
      </div><!-- .row-->
  </div><!-- /container-->
</div>

<section class="wrapper-box">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xxl-4 col-md-6">
              <div class="text-center p-4">
                  <h5>Sales Support</h5>
                  <p class="text-muted font-15">Questions or Queries? Get in touch!</p>
                  <a href="#!">sales&#64;objectthemes.com</a>
              </div>
          </div>
          <div class="col-xxl-4 col-md-6">
              <div class="text-center p-4">
                  <h5>Support</h5>
                  <p class="text-muted font-15">Our friendly team is here to help</p>
                  <a href="#!">support&#64;objectthemes.com</a>
              </div>
          </div>
          <div class="col-xxl-4 col-md-6">
              <div class="text-center p-4">
                  <h5>Phone Or Mobile</h5>
                  <p class="text-muted font-15">Mon-Fri from 9am to 5pm</p>
                  <a href="#!">+(345) 14523 1245</a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="wrapper-box bg-secondary">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-center">
                  <h2 class="lh-base text-capitalize text-white mb-3">Let's Connect With Us</h2>
              </div>
          </div><!--.col-->
          <div class="col-lg-8 mx-auto">
              <form action="#!" class="contact_form">
                  <div class="row">
                      <div class="col-lg-6">
                          <div class="mb-3">
                              <label for="firstName" class="form-label text-white text-opacity-75">First Name <span>*</span></label>
                              <input type="text" class="form-control bg-white bg-opacity-10 border border-white border-opacity-10" id="firstName" placeholder="Enter your firstname" required>
                          </div>
                      </div>
                      <div class="col-lg-6">
                          <div class="mb-3">
                              <label for="lastName" class="form-label text-white text-opacity-75">Last Name <span>*</span></label>
                              <input type="text" class="form-control bg-white bg-opacity-10 border border-white border-opacity-10" id="lastName" placeholder="Enter your lastname" required>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="mb-3">
                              <label for="subject" class="form-label text-white text-opacity-75">Subject</label>
                              <input type="text" class="form-control bg-white bg-opacity-10 border border-white border-opacity-10" id="subject" placeholder="Enter your subject">
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="mb-3">
                              <label for="emailAddress" class="form-label text-white text-opacity-75">Email <span>*</span></label>
                              <input type="email" class="form-control bg-white bg-opacity-10 border border-white border-opacity-10" id="emailAddress" placeholder="Email" required>
                          </div>
                      </div>
                      <div class="col-lg-12">
                          <div class="mb-3">
                              <label for="comment" class="form-label text-white text-opacity-75">Comment</label>
                              <textarea class="form-control bg-white bg-opacity-10 border border-white border-opacity-10" id="comment" rows="3" placeholder="Comment ..." required></textarea>
                          </div>
                      </div>
                      <div class="col-lg-12 text-end">
                          <button type="submit" class="btn btn-success">Send Message</button>
                      </div>
                  </div>
              </form>
          </div>
      </div><!-- .row-->
  </div><!--.container-->
</section>
