<section id="home" class="md:pt-[200px] md:pb-[110px] pt-[100px] pb-[120px]">
    <div class="container">
        <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
            <div class="max-w-xl">
                <span class="py-0.5 px-2 rounded font-medium text-indigo-500 bg-indigo-500/10">Last collection</span>
                <h2 class="md:text-5xl/tight text-4xl/tight font-semibold mt-4">Providing brilliant ideas for your business</h2>
                <p class="text-base font-medium text-muted mt-6">Lorem lpsum is simply text dummy text pricing and typesing industry. Lorem lpsum has been the inchustry's stardard.</p>
                <div class="flex flex-wrap items-center gap-6">
                    <a href="#" class="inline-block mt-8 py-2.5 px-5 text-base font-bold rounded-lg text-white border-2 border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Get stared</a>
                    <div class="flex items-center -space-x-2 mt-10">
                        <img src="assets/images/avatar/img-1.png" class="h-12 rounded-full" alt="">
                        <img src="assets/images/avatar/img-2.png" class="h-12 rounded-full" alt="">
                        <img src="assets/images/avatar/img-3.png" class="h-12 rounded-full" alt="">
                        <img src="assets/images/avatar/img-4.png" class="h-12 rounded-full" alt="">
                        <div class="h-12 w-12 flex items-center justify-center rounded-full font-bold text-indigo-500 bg-indigo-500/20 backdrop-blur">10+</div>
                    </div>
                </div>
            </div>
            <div>
                <img src="assets/images/home-3.png" class="mx-auto" alt="">
            </div>
        </div>
    </div>
</section>