<nav class="navbar navbar-expand-lg fixed-top" id="navbar">
  <div class="container">
      <a class="navbar-brand"  routerLink="/">
          <img src="assets/images/logo-dark.png" alt="Dark Logo" height="22" class="dark">
          <img src="assets/images/logo-light.png" alt="Light Logo" height="22" class="light">
      </a>
      <button class="navbar-toggler btn text-body ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="homeMenu" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Home
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md" aria-labelledby="homeMenu">
                      <li><a class="dropdown-item" routerLink="/">Main Demo</a></li>
                      <li><a class="dropdown-item" routerLink="/layout-two">Layout 2</a></li>
                      <li><a class="dropdown-item" routerLink="/layout-three">Layout 3</a></li>
                      <li><a class="dropdown-item" routerLink="#">Dashboard</a></li>
                  </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="findJobsMenu" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Find Jobs
                  </a>
                  <ul class="dropdown-menu dropdown-menu-md" aria-labelledby="findJobsMenu">
                      <li><a class="dropdown-item" routerLink="/job-list">Job List</a></li>
                      <li><a class="dropdown-item" routerLink="/job-list-two">Job List 2</a></li>
                      <li><a class="dropdown-item" routerLink="/jobs-grid-two">Two Column Grid</a></li>
                      <li><a class="dropdown-item" routerLink="/jobs-grid">Three Column Grid</a></li>
                      <li><a class="dropdown-item" routerLink="/jobs-grid-four">Four Column Grid</a></li>
                      <li><a class="dropdown-item" routerLink="/jobs-without-filter">Without Filter Grid</a></li>
                      <li><a class="dropdown-item" routerLink="/overview">Overview</a></li>
                  </ul>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about-us">About Us</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/team">Team</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/pricing">Pricing</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact-us">Contact Us</a>
              </li>
          </ul>
      </div>
      <div class="hstack gap-2">
          <button type="button" class="btn btn-link square-xs p-0 d-flex align-items-center justify-content-center text-body btn-sm"><i class="bi bi-search"></i></button>
          <button type="button" class="btn btn-link rounded-circle square-xs p-0 font-13 d-flex align-items-center justify-content-center btn-sm" id="dataTheme" (click)="toggleTheme()">
            <i class="bi bi-moon-stars"></i> <i class="bi bi-sun"></i>
          </button>
          <a href="#!">
              <img src="assets/images/feedback_client/client-01.jpg" alt="" class="square-xs rounded img-thumbnail object-fit-cover">
          </a>
      </div>
  </div>
</nav>
