<section id="services" class="my-16">
    <div class="container">
        <div class="text-center max-w-2xl mx-auto">
            <span class="text-indigo-500 font-semibold">Sevices</span>
            <h3 class="md:text-4xl/tight text-3xl font-bold mt-2">We offer a wide range of services as part of our
                business operations.</h3>
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6 mt-14">
            @for (item of items; track item.id) {
            <div
                class="p-6 text-center border border-muted/20 rounded-2xl hover:shadow-[rgba(17,_17,_26,_0.1)_0px_0px_16px] hover:border-muted/10 transition-all duration-500 dark:hover:border-muted/30">
                <div
                    class="h-16 w-16 mx-auto rounded-xl flex items-center justify-center text-indigo-500 bg-indigo-500/10">
                    <i class={{item.icon}}></i>
                </div>
                <h3 class="md:text-2xl text-xl font-bold mt-5">{{item.title}}</h3>
                <p class="md:text-base font-medium text-muted mt-4">Lorem ipsum dolor sit amet, sed do eiusmod and
                    tempor incididunt ut labore et dolore magna aliqua.</p>
                <a href="javascript:void(0)"
                    class="mt-4 inline-flex items-center gap-2 text-base font-semibold hover:text-indigo-500 transition-all duration-500">Read
                    more <i class="mdi mdi-arrow-right"></i></a>
            </div>
            }
        </div>
    </div>
</section>
<section class="py-16">
    <div class="container">
        <div class="p-10 rounded-2xl border border-muted/10 bg-muted/5 dark:bg-muted/10">
            <div class="grid md:grid-cols-3 grid-cols-1 gap-6">
                <div class="mx-auto text-center">
                    <h3 class="text-3xl font-bold">10M+</h3>
                    <p class="text-base font-medium text-muted mt-2">Complead Projects</p>
                </div>

                <div class="mx-auto text-center">
                    <h3 class="text-3xl font-bold">100k+</h3>
                    <p class="text-base font-medium text-muted mt-2">Happy custemen</p>
                </div>

                <div class="mx-auto text-center">
                    <h3 class="text-3xl font-bold">2.3k+</h3>
                    <p class="text-base font-medium text-muted mt-2">Expet Employers</p>
                </div>
            </div>
        </div>
    </div>
</section>