<header>
    <nav class="navbar navbar-expand-lg navbar-light fixed w-full horizontal-nav dark:bg-dark dark:border-muted/20 shadow">
        <div class="container">
            <div class="flex items-center justify-between w-full">
                <a class="navbar-brand" href="index_1.html">
                    <img src="assets/images/logo-dark.png" class="mr-2 h-8 block dark:hidden" alt="logo">
                    <img src="assets/images/logo-light.png" class="mr-2 h-8 hidden dark:block" alt="logo">
                </a>
                <button (click)="handleMobileMenu()" class="navbar-toggler hidden text-end mobile-menu-button">
                    <span class="navbar-toggler-icon">
                        <i class="ti-menu icon-align-right dark:!text-white/50"></i>
                    </span>
                </button>
                <div class="navbar-collapse w-full lg:flex items-center mobile-menu hidden min-[991px]:block dark:bg-black lg:border-b-0 border-b lg:shadow-none shadow dark:border-muted/20" id="navbarNav">
                    <div id="navbarCollapse" class="flex-grow">
                        <ul class="navbar-nav horizontal-menu flex lg:flex-row flex-col lg:items-center lg:justify-center">
                            <li>
                                <a href="#home" [class.active]="activeSection === 'home'" class="dark:!text-white/80">Home</a>
                            </li>
                            <li>
                                <a href="#about" [class.active]="activeSection === 'about'" class="dark:!text-white/80">About</a>
                            </li>
                            <li>
                                <a href="#services" [class.active]="activeSection === 'services'" class="dark:!text-white/80">Sevices</a>
                            </li>
                            <li>
                                <a href="#features" [class.active]="activeSection === 'features'" class="dark:!text-white/80">Features</a>
                            </li>
                            <li>
                                <a href="#team" [class.active]="activeSection === 'team'" class="dark:!text-white/80">Team</a>
                            </li>
                            <li>
                                <a href="#testimonials" [class.active]="activeSection === 'testimonials'" class="dark:!text-white/80">Testimonials</a>
                            </li>
                            <li>
                                <a href="#contact" [class.active]="activeSection === 'contact'" class="dark:!text-white/80">Contact</a>
                            </li>
                        </ul>
                    </div>
                    <div class="inline-block flex-shrink p-5 pt-0 lg:pb-0">
                        <div class="flex items-center gap-2">
                            <div>
                                <button (click)="toggleDirection()" id="theme_Rtl_Ltr" class="py-2.5 px-4 text-base font-bold rounded-lg text-indigo-500 border border-indigo-500/20 bg-indigo-500/10">Rtl</button>
                            </div>
                            <button class="py-2.5 px-4 text-base font-bold rounded-lg text-white border border-indigo-500 bg-indigo-500 hover:bg-indigo-600 transition-all duration-500">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>