<section id="features" class="py-16">
    <div class="container">
        <div class="text-center max-w-2xl mx-auto">
            <span class="text-indigo-500 font-semibold">Features</span>
            <h3 class="md:text-4xl text-3xl font-bold mt-2">Digital system for our business</h3>
        </div>

        <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6 mt-14">
            <div class="text-center">
                <div class="h-14 w-14 mx-auto flex items-center justify-center rounded-lg bg-indigo-500 text-white text-2xl">1.</div>
                <h3 class="md:text-2xl text-xl font-semibold mt-5">General concept</h3>
                <p class="text-base font-medium text-muted mt-3">Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
            </div>

            <div class="text-center">
                <div class="h-14 w-14 mx-auto flex items-center justify-center rounded-lg bg-indigo-500 text-white text-2xl">2.</div>
                <h3 class="md:text-2xl text-xl font-semibold mt-5">Post product</h3>
                <p class="text-base font-medium text-muted mt-3">Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
            </div>

            <div class="text-center">
                <div class="h-14 w-14 mx-auto flex items-center justify-center rounded-lg bg-indigo-500 text-white text-2xl">3.</div>
                <h3 class="md:text-2xl text-xl font-semibold mt-5">Design process</h3>
                <p class="text-base font-medium text-muted mt-3">Nullam dictum felis eu pede mollis pretium. Integer tincidunt.Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.</p>
            </div>
        </div>
    </div>
</section>