<section id="home" class="md:pt-[190px] md:pb-[110px] pt-[100px] pb-[50px] relative">
    <div class="container">
        <div class="relative">
            <div class="grid lg:grid-cols-2 grid-cols-1 gap-6 items-center">
                <div class="max-w-xl">
                    <h2 class="md:text-5xl/tight text-4xl leading-tight font-semibold mt-3">The easiest way to manage your <span class="relative text-indigo-500 after:inset-x-0 after:bottom-2 after:absolute lg:after:h-6 after:h-4 after:w-full after:bg-indigo-500/20">business</span></h2>
                    <p class="text-base font-medium text-muted max-w-md mt-8">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    <form class="relative max-w-[450px] mt-9">
                        <input type="text" class=" p-3 w-full text-sm outline-none pr-[150px] pl-5 rounded-md bg-transperent border border-muted/50 focus:outline-0 focus:ring-0 focus:border-indigo-500 dark:bg-transparent" placeholder="Email Address" required>
                        <button type="submit" class="absolute tracking-[1px] font-normal text-[15px] rounded-r-md capitalize top-0 right-0 outline-none text-sm py-[12px] px-[30px] bg-indigo-500 text-white border border-indigo-500">
                            Get stared
                        </button>
                    </form>
                    <div class="flex flex-wrap items-center gap-5 mt-10">
                        <div class="flex items-center -space-x-2">
                            <img src="assets/images/avatar/img-1.png" class="h-12 rounded-full" alt="">
                            <img src="assets/images/avatar/img-2.png" class="h-12 rounded-full" alt="">
                            <img src="assets/images/avatar/img-3.png" class="h-12 rounded-full" alt="">
                            <div class="h-12 w-12 flex items-center justify-center rounded-full font-bold text-indigo-500 bg-indigo-500/20 backdrop-blur"><span class="text-2xl">+</span></div>
                        </div>

                        <div>
                            <h3 class="text-2xl font-bold">200+</h3>
                            <p class="text-base font-medium text-muted">Satisfiled clients</p>
                        </div>
                    </div>
                </div>
                <div>
                    <img src="assets/images/home-7.png" class="mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="relative order-1 client-sec md:order-2 py-5">
            <app-client></app-client>
        </div>
    </div>
</section>